{% extends "base.html" %}
{% block title %}Scenario{% endblock %}
{% block content %}
    <nav class="navbar bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href='{{ url_for("auth.logout") }}'><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        {% autoescape false %}
          <form class="d-flex" role="search" id="formSearch">
            <div class="input-group">
              <input class="form-control bg-body" type="search" aria-label="Search" name="tosearch" id="toSearch">
              <button class="btn btn-outline-warning" type="submit" id="startSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
              <button class="btn btn-outline-danger" id="abortSearch" style="display: none;"><i class="fa-solid fa-circle-xmark"></i></button>
            </div>            
          </form>
        {% endautoescape %}
      </div>
    </nav>
    <div class="p-5 d-flex justify-content-center bg-warning">
      <div class="align-items-center py-5">
        <h1 class="display-4 text-center">LAB</h1>
        <p class="lead">I nostri tecnici sfornano le app più sicure al mondo</p>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <form id="formComment">
          <div class="form-group">
              <label for="inComment">Il tuo commento è importante</label>
              <textarea class="form-control bg-body" id="inComment" name="inComment" rows="3" cols="100"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-warning mb-3 mt-3">Invia Commento</button>
        </form>
    </div>
    <section id="view">
      <div class="text-center mb-5" id="searchLoading" style="display: none;">
        <div class="spinner-grow text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </section>
{% endblock %}
{% block script %}
<script>

    const formComment = $("#formComment");
    const formSearch = $("#formSearch");
    const inComment = $("#inComment");
    const toSearch = $("#toSearch");
    const view = $("#view");

    function addNewComment(url){
      /*
      ** Add new comment
      */
      const formData = new FormData();
      formData.append("comment", inComment.val());
      // make request
      return fetch(`${url}`, {
        method: "POST",
        headers: new Headers(),
        body: formData,
        redirect: "follow"
      }).then( (response) => {
        //console.log(response);
          $(view).empty();
          inComment.val("");
          response.json().then( (comments) =>{
            for (c of comments) {
              $(view).append(`
              <figure class="text-center">
                <blockquote class="blockquote">
                  <p>${c}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Author <cite title="anonymous">anonymous</cite>
                </figcaption>
              </figure>
              `)
            }
          });
      });
    }

    function renderComments(url){
      /*
      **  Retrive all stored comments
      */
      return fetch(`${url}`, {
      method : "GET",
      headers : new Headers()
      }).then( (response) => {
        return response.json().then( (comments) => {
          for (c of comments) {
            $(view).append(`
              <figure class="text-center">
                <blockquote class="blockquote">
                  <p>${c}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Author <cite title="anonymous">anonymous</cite>
                </figcaption>
              </figure>
            `)
          }
        });
      });
    }
    
    function searchComments(url){
      /*
      ** Search for comments 
      */
      return fetch(`${url}?${new URLSearchParams({
        toSearch: `${toSearch.val()}`
      })}`, {
        method: "GET",
        headers: new Headers()
      }).then( (response) => {
        response.json().then( (data) => {
          toSearch.val("");
          $("#abortSearch").show();
          $("#startSearch").prop("disabled", "true");
          view.find("figure").css("display", "none");
          view.find("#searchLoading").css("display", "block");
          for (r of data){
              view.append(`
              <aside class="d-flex justify-content-center flex-column">
                <div class="text-center">
                  <blockquote class="blockquote">
                    <p class="mb-0"><u class="text-warning">${r}</u></p>
                  </blockquote>
                </div>
              </aside>
              `);
          }
        });
      });
    }
    
    /**********************************************
    **              MAIN LOGIC 
    ***********************************************/
    renderComments("/showcomments")
    /**********************************************
    **              EVENT HANDLER 
    ***********************************************/
    // when user want add new comment 
    $(formComment).on("submit", (event) => {
      event.preventDefault();
      addNewComment("/leavecomment");
    });

    // when user want search for comments
    $(formSearch).on("submit", (event) => {
      event.preventDefault();
      searchComments("/search");
    });
    
    // When abort search
    $("#abortSearch").on("click", (event) => {
      event.preventDefault();
      $("#startSearch").removeAttr("disabled");
      view.find("#searchLoading").css("display", "none");
      view.find("aside").remove();
      view.find("figure").removeAttr("style");
      $("#abortSearch").hide();
    });
</script>
{% endblock %}
